@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  
  .card {
    background: var(--litle-midle);
    height: 239px;
    width: 265px;
    padding: 15px;
    position: relative;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    justify-content: left;
  }
  .cardsHolder{
    margin-top: 6.2%;
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    gap: 50px;
    z-index: 1;
  }
  .CardLogo{
      height: 80px; width: 80px;
  }
  .card h2{
    font-size: 0.9em;
    }
  .card p{
    font-size: 1em;
  }

.listCard{
  margin-left: 3%;
  padding: 3px;
  line-height: 1.1;
}
.listCard li{
  font-size: .9em;
}

  .card:hover:before{
    transition: color 3s ease-in;
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , #00ff7b, #00ad31 50%, #03b400);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;

  }
  
  .card:hover:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  h2[banco]{
    font-size: 0.9em;
  }
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  .cardsHolder{
    animation: saindo 0.8s ease-in-out;
}

@keyframes saindo {
    0% {
        top: 19%;
        opacity: 0;
    }

    100% {
        top: 9.5%;
        opacity: 1;
    }
}