
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	60% {
		background-position: 0% 50%;
	}
}
.contentHolder{
    text-align: center;
    display: flex;
  /*   background: linear-gradient(rgb(28, 81, 108) 0%, rgb(30, 92, 122) 70%); */
    background-color: #095a80;
    justify-content: center;
   /*  background:linear-gradient(to right,   #079bc0, var(--midle-blue));
 /* gradiente de preto a cinza médio a branco */
/*     background-size: 400% 400%; */
  /*   animation: gradient 14s ease infinite; */
    height: 88.6vh;
}
.basicInfo{
    margin: 2% 0;
    display: flex;
    padding: 50px 100px;
    margin-left: 10%;
    width: 60%;
    flex-direction: column;

}
p[intro]{
    padding: 0px;
  
    font-weight: 100;
    text-align: center;
}
h1[backend]{  
    color: var(--light-green);
    text-align: center;
    font-size: 4em;
    line-height: 40px;letter-spacing: 4px;
    margin-bottom: 6%;
    text-shadow: 
        -1px -1px 0 var(--light-green),  
        1px -1px 0 var(--light-green),
        -1px 1px 0 var(--light-green),
        1px 1px 0 var(--light-green);
}
h1[developer]{
    font-size: 72px;
     /* Reduz o espaçamento entre letras */  
}
.linksHolder{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 18px;
    margin-top: 10%;
}
.raiImg{
   height: 380px;
   margin-top: 13%;
   margin-left:200px;
}