.languagesHolder{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 14%;
    width: 100%;
    background-color: var(--dark-blue);
}
h1[languageTittle]{
    font-size: 50px;
    margin: 15px 0px;
}

.language{/* typing language */
    width: 10.4ch;
}
span[languageTittle]{
    text-align: center;
    font-size: 45px;
    color: white;
    margin: 10px 0px;
}
.logoLan{
    height: 65px;
    cursor: pointer;
}
.springLogo{
    height: 105px;
}
.javaLogo{
    border-radius: 7px;
}
.logosLanguageHolder{
    display: flex;
    border: solid 3px  var(--light-green);
    padding: 5px 15px;
    border-radius: 20px;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.logoLan{
    transition: transform 0.21s ease; /* Adiciona uma transição suave */
}

.logoLan:hover{
    transform: scale(1.11); /* Aumenta em 5% quando passar o mouse */
}
