.languagesHolder{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 9.5%;
    position: fixed; /* ou position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: var(--litle-midle);
}
h1[languageTittle]{
    font-size: 50px;
    margin: 15px 0px;
}

.language{/* typing language */
    font-size: 21px;
    width: 12.8ch;
}
span[languageTittle]{
    text-align: center;
    font-size: 45px;
    color: white;
    margin: 10px 0px;
}
.logoLan{
    height: 67px;
    cursor: pointer;
}
.springLogo{
    height: 105px;
}
.javaLogo{
    border-radius: 7px;
}
.logosLanguageHolder{
    display: flex;
    border: solid 3px  var(--light-green);
    padding: 5px 15px;
    border-radius: 20px;
    gap: 35px;
    justify-content: center;
    margin-bottom: 4%;
    align-items: center;
}
.logoLan{
    transition: transform 0.21s ease; /* Adiciona uma transição suave */
}

.logoLan:hover{
    transform: scale(1.11); /* Aumenta em 5% quando passar o mouse */
}
.esquerda-home-skills-tecnologia-nome {
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 17px;
    text-align: center;
}

.esquerda-home-skills-tecnologia:hover .esquerda-home-skills-tecnologia-nome {
    opacity: 1;
}