
.projectCard{
    display: grid;
    place-items: center;
    position: relative;
    cursor: pointer;
    padding: 20px;
    height: 355px;
    width: 330px;
    background-color: var(--dark-blue);
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 0px 0px 10px 0px #021b49b9;
    
}
.projectCard h1{
    text-align: center;
    z-index: 10;
}
.projectCard p{
    z-index: 10;
    text-align: center;
    letter-spacing: -.8px;
    font-size: 18px;
}

.projectImg{
    z-index: 10;
    display: flex;
    background-color: aliceblue;
    padding: 8px;
    height: 6.5em;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

h1[projectName]{
    z-index: 10;
    color: var(--light-green);
    font-size: 38px;
}
p[projectDesc]{
    z-index: 10;
    font-size: 16px;
    margin-bottom: 5%;
}
.repoBtn{
    z-index: 10;
    display: flex;
    justify-content: center; align-items: center;
    text-decoration: none;
    height: 1.7em;
    padding: 7px;
    border-radius: 5px;
    width: 7em;
    margin-top: auto;
    margin-left: auto;
    border: solid 2px  var(--light-green);
}
.repoBtn p{
    z-index: 11;
    text-align: center;
}
img[gitRepo]{
    z-index: 10;
    height: 1.5em;
}

img[gameGif]{
    height: 5em;
}
img[apiGif]{
    height: 5.9em;
}
img[mapaGif]{
    height: 6.2em;
}
img[imc]{
    height: 5.7em;
}

.projectCard{
    overflow: hidden;
}
.projectCard::before{
    position: absolute;
    content: '';
    height: 35%;
    width: 180%;
    background-color: var(--light-green);
    transform: rotate(45deg);

}
.projectCard:hover::before{
    animation: animate2 4s linear infinite;
}

.projectCard::after{
    position: absolute;
    content: '';
    inset: 2.5px;
    border-radius: 10px;
    background-color: var(--dark-blue);
}
@keyframes animate2{
    from{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}