
.projectHolder{
    display: none;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-image: url("../Imagem/pageBack.jpg");
    background-size: cover;
    background-position: center;
   /*  background: linear-gradient(rgb(16, 47, 62) 0%, rgb(21, 62, 82) 70%); */
    height: 100%;
}
h1[projectTitle]{
    font-size: 55px;
    margin-top: 1%;
}

.containersHolder{
    display: flex;
    width: 100%;
    margin: 1.5% 0;
    justify-content: center;
    gap: 3em;
}



