.skillsHolder{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #0d4861;;
    height: 88.8vh;
    
}
.widthImage{
    display: flex;
    height: 220px;
    width: 100%;
    padding: 0px;
    justify-content: center;
    background-color: #fffdd0;
}
.macacoImg{
    width: 100%;
}



