@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { /* stilo mae */
    --dark-gray: #191919;
    --light-green: #00FF0B;
    --dark-blue: #191c29;
    --midle-blue: rgb(16, 47, 62);
    --new-midle: #095a80;
    --litle-midle:   #0a3b51;
  
    color: white;
    font-family: "Roboto", monospace;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 87, 131, 0.994);
}
footer h2{
    font-size: 15px;
}
footer{
    position: fixed; /* ou position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #0a3b51;
    /* background: linear-gradient(rgb(6, 22, 31) 0%, var(--midle-blue) 40%); */
    color: #fff;
    text-align: center;
    padding: 8px 0;
}
.zapLink{
    bottom: 8%;
    right: 3%;
    position: fixed;
    height: 55px;
}

/* Animacao da troca de tela */
.fade-in {
    opacity: 1;
    transition: all 0.2s ease;
}

.fade-out {
    opacity: 0;
    transition: all 0.2s ease; /
}