

.typing-demo {
  width: 20.9ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  border-right: 2px solid;
  font-size: 2.1em;
  margin-bottom: 20px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}