* { /* stilo mae */
    --dark-gray: #191919;
    --light-green: #00FF0B;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(14, 43, 57, 0.875);
}
footer h2{
    font-size: 15px;
}
footer{
    position: fixed; /* ou position: absolute; */
    bottom: 0;
    width: 100%;
    background: linear-gradient(#3e3e3e 0%, #000000 40%);
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-top: solid 1px black;
}
/* Animacao da troca de tela */
.fade-in {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /
}