* { /* stilo mae */
    --dark-gray: #191919;
    --light-green: #00FF0B;
    --dark-blue: #191c29;
    --midle-blue: rgb(16, 47, 62);
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(14, 43, 57, 0.875);
}
footer h2{
    font-size: 15px;
}
footer{
    position: fixed; /* ou position: absolute; */
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgb(6, 22, 31) 0%, var(--midle-blue) 40%);
    color: #fff;
    text-align: center;
    padding: 8px 0;
}
.zapLink{
    bottom: 5%;
    right: 3%;
    position: fixed;
    height: 70px;
}

/* Animacao da troca de tela */
.fade-in {
    opacity: 1;
    transition: all 0.8s ease;
}

.fade-out {
    opacity: 0;
    transition: all 0.8s ease; /
}